@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js" lang="en">
@await Component.InvokeAsync("_HeadPartial")

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EnterScore</title>
    <link rel="shortcut icon" href="~/HTML/images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/HTML/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/HTML/images/apple-touch-icon-114x114.png">


    <link rel="stylesheet" type="text/css" href="~/HTML/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/HTML/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/HTML/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/HTML/css/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="~/HTML/css/magnific-popup.css">


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/HTML/css/style.css" />



    <script type="text/javascript" src="~/HTML/js/modernizr.min.js"></script>

</head>


<body>



    <!-- NAVBAR SECTION -->
    @await Component.InvokeAsync("_NavbarPartial")

    <div class="player-profile-section page-title-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="section-title profile-title">
                        <h1>Oyuncu Profili</h1>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="pagination-area">
                        <ul>
                            <li><a href="#">Ana Sayfa <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>

                            <li class="active"><a href="#">Oyuncu Profili</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ABOUT SECTION -->
    <div class="section singlepage">
        <div class="container">



            <div class="row">

                <div class="col-sm-12 col-md-12">

                    <div class="team-tab" data-example-id="togglable-tabs">

                        <div id="myTabContent" class="tab-content tab-team tab-team-bg">
                            <div role="tabpanel" class="tab-pane fade in active" id="primary" aria-labelledBy="primary-tab">
                                <div class="teams">
                                    <div class="nav-team" id="primary-nav">
                                        <div class="position active">
                                            <a title=""><span class="gk">GK</span> 1. Guiliugi Button</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="cb">CB</span> 3. Paulo Maldoko</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="cb">CB</span> 4. Alexandro Nista</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="cb">CB</span> 5. Fabio Carnivora</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="rmf">RMF</span> 7. David Beckman</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="rmf">LMF</span> 21. Ryan Goggle</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="rmf">DMF</span> 14. Andrea Polo</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="rmf">AMF</span> 10. Fransisco Totto</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="rmf">AMF</span> 11. Christian Ronaldoel</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="cf">CF</span> 9. Didier Dropbox</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="cf">CF</span> 99. Ibrahimovie</a>
                                        </div>
                                        <!--  -->
                                    </div>
                                </div>
                                <div class="teams-caro">
                                    <div id="primary-team-caro" class="owl-carousel owl-theme">
                                        <div class="item">
                                            <div class="teams-image">
                                                <img src="http://placehold.it/390x585" alt="" class="img-responsive" />
                                            </div>
                                            <div class="teams-description">
                                                <p><span class="title">NATIONAL : </span>PORTUGAL</p>
                                                <p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
                                                <p><span class="title">HEIGHT : </span>183 cm</p>
                                                <p><span class="title">WEIGHT : </span>80 kg</p>
                                                <p><span class="title">POSITION : </span>FORWARDER</p>
                                                <p><span class="title">PLAYED : </span>180</p>
                                                <p><span class="title">GOAL : </span>25</p>
                                                <p><span class="title">RED CARDS : </span>3</p>
                                                <p><span class="title">YELLOW CARDS : </span>10</p>
                                                <p><span class="title">INFORMATION </span></p>
                                                <p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="teams-image">
                                                <img src="http://placehold.it/390x585" alt="" class="img-responsive" />
                                            </div>
                                            <div class="teams-description">
                                                <p><span class="title">NATIONAL : </span>PORTUGAL</p>
                                                <p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
                                                <p><span class="title">HEIGHT : </span>183 cm</p>
                                                <p><span class="title">WEIGHT : </span>80 kg</p>
                                                <p><span class="title">POSITION : </span>FORWARDER</p>
                                                <p><span class="title">PLAYED : </span>180</p>
                                                <p><span class="title">GOAL : </span>25</p>
                                                <p><span class="title">RED CARDS : </span>3</p>
                                                <p><span class="title">YELLOW CARDS : </span>10</p>
                                                <p><span class="title">INFORMATION </span></p>
                                                <p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="teams-image">
                                                <img src="http://placehold.it/390x585" alt="" class="img-responsive" />
                                            </div>
                                            <div class="teams-description">
                                                <p><span class="title">NATIONAL : </span>PORTUGAL</p>
                                                <p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
                                                <p><span class="title">HEIGHT : </span>183 cm</p>
                                                <p><span class="title">WEIGHT : </span>80 kg</p>
                                                <p><span class="title">POSITION : </span>FORWARDER</p>
                                                <p><span class="title">PLAYED : </span>180</p>
                                                <p><span class="title">GOAL : </span>25</p>
                                                <p><span class="title">RED CARDS : </span>3</p>
                                                <p><span class="title">YELLOW CARDS : </span>10</p>
                                                <p><span class="title">INFORMATION </span></p>
                                                <p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="teams-image">
                                                <img src="http://placehold.it/390x585" alt="" class="img-responsive" />
                                            </div>
                                            <div class="teams-description">
                                                <p><span class="title">NATIONAL : </span>PORTUGAL</p>
                                                <p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
                                                <p><span class="title">HEIGHT : </span>183 cm</p>
                                                <p><span class="title">WEIGHT : </span>80 kg</p>
                                                <p><span class="title">POSITION : </span>FORWARDER</p>
                                                <p><span class="title">PLAYED : </span>180</p>
                                                <p><span class="title">GOAL : </span>25</p>
                                                <p><span class="title">RED CARDS : </span>3</p>
                                                <p><span class="title">YELLOW CARDS : </span>10</p>
                                                <p><span class="title">INFORMATION </span></p>
                                                <p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="teams-image">
                                                <img src="http://placehold.it/390x585" alt="" class="img-responsive" />
                                            </div>
                                            <div class="teams-description">
                                                <p><span class="title">NATIONAL : </span>PORTUGAL</p>
                                                <p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
                                                <p><span class="title">HEIGHT : </span>183 cm</p>
                                                <p><span class="title">WEIGHT : </span>80 kg</p>
                                                <p><span class="title">POSITION : </span>FORWARDER</p>
                                                <p><span class="title">PLAYED : </span>180</p>
                                                <p><span class="title">GOAL : </span>25</p>
                                                <p><span class="title">RED CARDS : </span>3</p>
                                                <p><span class="title">YELLOW CARDS : </span>10</p>
                                                <p><span class="title">INFORMATION </span></p>
                                                <p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="teams-image">
                                                <img src="http://placehold.it/390x585" alt="" class="img-responsive" />
                                            </div>
                                            <div class="teams-description">
                                                <p><span class="title">NATIONAL : </span>PORTUGAL</p>
                                                <p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
                                                <p><span class="title">HEIGHT : </span>183 cm</p>
                                                <p><span class="title">WEIGHT : </span>80 kg</p>
                                                <p><span class="title">POSITION : </span>FORWARDER</p>
                                                <p><span class="title">PLAYED : </span>180</p>
                                                <p><span class="title">GOAL : </span>25</p>
                                                <p><span class="title">RED CARDS : </span>3</p>
                                                <p><span class="title">YELLOW CARDS : </span>10</p>
                                                <p><span class="title">INFORMATION </span></p>
                                                <p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="teams-image">
                                                <img src="http://placehold.it/390x585" alt="" class="img-responsive" />
                                            </div>
                                            <div class="teams-description">
                                                <p><span class="title">NATIONAL : </span>PORTUGAL</p>
                                                <p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
                                                <p><span class="title">HEIGHT : </span>183 cm</p>
                                                <p><span class="title">WEIGHT : </span>80 kg</p>
                                                <p><span class="title">POSITION : </span>FORWARDER</p>
                                                <p><span class="title">PLAYED : </span>180</p>
                                                <p><span class="title">GOAL : </span>25</p>
                                                <p><span class="title">RED CARDS : </span>3</p>
                                                <p><span class="title">YELLOW CARDS : </span>10</p>
                                                <p><span class="title">INFORMATION </span></p>
                                                <p>Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="teams-image">
                                                <img src="http://placehold.it/390x585" alt="" class="img-responsive" />
                                            </div>
                                            <div class="teams-description">
                                                <p><span class="title">NATIONAL : </span>PORTUGAL</p>
                                                <p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
                                                <p><span class="title">HEIGHT : </span>183 cm</p>
                                                <p><span class="title">WEIGHT : </span>80 kg</p>
                                                <p><span class="title">POSITION : </span>FORWARDER</p>
                                                <p><span class="title">PLAYED : </span>180</p>
                                                <p><span class="title">GOAL : </span>25</p>
                                                <p><span class="title">RED CARDS : </span>3</p>
                                                <p><span class="title">YELLOW CARDS : </span>10</p>
                                                <p><span class="title">INFORMATION </span></p>
                                                <p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="teams-image">
                                                <img src="http://placehold.it/390x585" alt="" class="img-responsive" />
                                            </div>
                                            <div class="teams-description">
                                                <p><span class="title">NATIONAL : </span>PORTUGAL</p>
                                                <p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
                                                <p><span class="title">HEIGHT : </span>183 cm</p>
                                                <p><span class="title">WEIGHT : </span>80 kg</p>
                                                <p><span class="title">POSITION : </span>FORWARDER</p>
                                                <p><span class="title">PLAYED : </span>180</p>
                                                <p><span class="title">GOAL : </span>25</p>
                                                <p><span class="title">RED CARDS : </span>3</p>
                                                <p><span class="title">YELLOW CARDS : </span>10</p>
                                                <p><span class="title">INFORMATION </span></p>
                                                <p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="teams-image">
                                                <img src="http://placehold.it/390x585" alt="" class="img-responsive" />
                                            </div>
                                            <div class="teams-description">
                                                <p><span class="title">NATIONAL : </span>PORTUGAL</p>
                                                <p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
                                                <p><span class="title">HEIGHT : </span>183 cm</p>
                                                <p><span class="title">WEIGHT : </span>80 kg</p>
                                                <p><span class="title">POSITION : </span>FORWARDER</p>
                                                <p><span class="title">PLAYED : </span>180</p>
                                                <p><span class="title">GOAL : </span>25</p>
                                                <p><span class="title">RED CARDS : </span>3</p>
                                                <p><span class="title">YELLOW CARDS : </span>10</p>
                                                <p><span class="title">INFORMATION </span></p>
                                                <p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="teams-image">
                                                <img src="http://placehold.it/390x585" alt="" class="img-responsive" />
                                            </div>
                                            <div class="teams-description">
                                                <p><span class="title">NATIONAL : </span>PORTUGAL</p>
                                                <p><span class="title">DATE OF BIRTH : </span>10/02/1988</p>
                                                <p><span class="title">HEIGHT : </span>183 cm</p>
                                                <p><span class="title">WEIGHT : </span>80 kg</p>
                                                <p><span class="title">POSITION : </span>FORWARDER</p>
                                                <p><span class="title">PLAYED : </span>180</p>
                                                <p><span class="title">GOAL : </span>25</p>
                                                <p><span class="title">RED CARDS : </span>3</p>
                                                <p><span class="title">YELLOW CARDS : </span>10</p>
                                                <p><span class="title">INFORMATION </span></p>
                                                <p class="font-normal">Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="secondary" aria-labelledBy="secondary-tab">
                                <div class="teams">
                                    <div class="nav-team" id="secondary-nav">
                                        <div class="position active">
                                            <a title=""><span class="gk">GK</span> 1. Guiliugi Button</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="cb">CB</span> 3. Paulo Maldoko</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="cb">CB</span> 4. Alexandro Nista</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="cb">CB</span> 5. Fabio Carnivora</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="rmf">RMF</span> 7. David Beckman</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="rmf">LMF</span> 21. Ryan Goggle</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="rmf">DMF</span> 14. Andrea Polo</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="rmf">AMF</span> 10. Fransisco Totto</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="rmf">AMF</span> 11. Christian Ronaldoel</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="cf">CF</span> 9. Didier Dropbox</a>
                                        </div>
                                        <div class="position">
                                            <a title=""><span class="cf">CF</span> 99. Ibrahimovie</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div><!-- /example -->

                </div>


            </div>
        </div>
    </div>








    <script type="text/javascript" src="~/HTML/js/jquery.min.js"></script>
    <script type='text/javascript' src='https://maps.google.com/maps/api/js?sensor=false&#038;ver=4.1.5'></script>
    <script type='text/javascript' src='~/HTML/js/jqBootstrapValidation.js'></script>
    <script type="text/javascript" src="~/HTML/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/HTML/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/HTML/js/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="~/HTML/js/jquery.magnific-popup.min.js"></script>

    <script type="text/javascript" src="~/HTML/js/script.js"></script>



</body>
</html>