@model List<EntityLayer.Concrete.Referee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Hakem Sayfası</h1>
<div class="container">
    <div class="column">
        <div class="col-12">
            <h3 class="titulo-tabla">Hakemler </h3>
            <table id="ejemplo" class="table table-striped table-bordered" style="table-layout: fixed; text-align:center">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td><a href="/Admin/Referee/UpdateReferee/@item.RefereeID" class="btn btn-outline-success">Düzenle</a></td>
                            <td><a href="/Admin/Referee/DeleteReferee/@item.RefereeID" class="btn btn-outline-danger">Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Admin/Referee/AddReferee" class="btn btn-outline-light">Yeni Hakem Girişi</a>
        </div>
    </div>
</div>
