@model EntityLayer.Concrete.Referee
@{
    ViewData["Title"] = "UpdateReferee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Hakem Güncelleme PEYÇ</h1>

<form method="post">
    <input type="hidden" name="RefereeID" value="@Model.RefereeID" />
    <label>Hakem Adı</label>
    <input type="text" class="form-control border" name="Name" value="@Model.Name"/>
    <br />

    <button class="btn btn-outline-info">Hakemi Kaydet</button>
    <a href="/Admin/Referee" class="btn btn-outline-danger">Geri Dön</a>

</form>
