<div class="point-table-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="point-table-area">
                    <div class="point-title-area">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="20%" scope="row">Group A</th>
                                    <th width="10%" class="text-center">Playered</th>
                                    <th width="10%" class="text-center">Won</th>
                                    <th width="10%" class="text-center">Draw</th>
                                    <th width="10%" class="text-center">Lost </th>
                                    <th width="10%" class="text-center">For</th>
                                    <th width="10%" class="text-center">Against</th>
                                    <th width="10%" class="text-center">Goal dif.</th>
                                    <th width="10%" class="text-center">Points</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="point-itmes">
                        <table class="table table-striped-inverse point-table">
                            <tbody>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag2.png" alt="" />
                                        <span>France</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag3.png" alt="" />
                                        <span>Iceland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag4.png" alt="" />
                                        <span>Ireland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag4.png" alt="" />
                                        <span>Ireland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag4.png" alt="" />
                                        <span>Ireland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag4.png" alt="" />
                                        <span>Ireland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag4.png" alt="" />
                                        <span>Ireland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag4.png" alt="" />
                                        <span>Ireland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag4.png" alt="" />
                                        <span>Ireland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag4.png" alt="" />
                                        <span>Ireland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag4.png" alt="" />
                                        <span>Ireland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag4.png" alt="" />
                                        <span>Ireland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag4.png" alt="" />
                                        <span>Ireland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag4.png" alt="" />
                                        <span>Ireland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag4.png" alt="" />
                                        <span>Ireland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag4.png" alt="" />
                                        <span>Ireland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag4.png" alt="" />
                                        <span>Ireland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>
                                <tr>
                                    <th data-th="Group A" width="20%" scope="row">
                                        <img src="~/sport_template-master/images/flag4.png" alt="" />
                                        <span>Ireland</span>
                                    </th>
                                    <td data-th="Playered" width="10%" class="text-center">3</td>
                                    <td data-th="Won" width="10%" class="text-center">2</td>
                                    <td data-th="Draw" width="10%" class="text-center">1</td>
                                    <td data-th="Lost" width="10%" class="text-center">0</td>
                                    <td data-th="For" width="10%" class="text-center">4</td>
                                    <td data-th="Against" width="10%" class="text-center">1</td>
                                    <td data-th="Goal dif." width="10%" class="text-center">3</td>
                                    <td data-th="Points" width="10%" class="text-center">7</td>
                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>