<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EnterScore</title>
    <link rel="icon" href="~/sport_template-master/images/favicon.png">
    <link rel="stylesheet" href="~/sport_template-master/css/style.css">



    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>



</head>