<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- web site title -->
    <title>ll | EnterScore</title>

    <!-- favicon -->
    <link rel="icon" href="~/sport_template-master/images/favicon.png">

    <!-- style -->
    <link rel="stylesheet" href="~/sport_template-master/css/style.css">

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>