<div class="header-section">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default cart">
        <div class="container">

            <!-- End Atribute Navigation -->
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed top-m-btn" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="~/sport_template-masterimages/logo.png" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse top-nav" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   
                    <li><a href="/Fixture/Index">FİKSTÜR</a>
                    
                    <li><a href="/PointTable/Index">PUAN DURUMU</a></li>

                    <li><a href="/ClubsList/Index">OYUNCULAR</a>

                    <li><a href="/Result/Index">OYNANAN SON MAÇLAR</a>

                    <li><a href="/TurnamentHistory/Index">OYNANACAK MAÇLAR</a>
                   
               
                    <li><a href="/Contact/Index">İLETİŞİM</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- end of /. container -->
    </nav><!-- End Navigation -->

</div><!-- end of /. nav area-->