<div class="player-performances">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="player-states">
                    <h1 class="before">Player <b>Stats</b></h1>
                    <div class="skillst1">
                        <div class="skillbar-items">
                            <div class="title">General</div>
                            <div class="skillbar progress" data-percent="24%">
                                <div class="count"></div>
                                <div class="count-bar progress-bar progress-bar-striped"></div>
                            </div>
                        </div>
                        <div class="skillbar-items">
                            <div class="title">Attack</div>
                            <div class="skillbar progress" data-percent="82%">
                                <div class="count"></div>
                                <div class="count-bar progress-bar progress-bar-striped"></div>
                            </div>
                        </div>
                        <div class="skillbar-items">
                            <div class="title">Defence</div>
                            <div class="skillbar progress" data-percent="40%">
                                <div class="count"></div>
                                <div class="count-bar progress-bar progress-bar-striped"></div>
                            </div>
                        </div>
                        <div class="skillbar-items">
                            <div class="title">Discipline</div>
                            <div class="skillbar progress" data-percent="64%">
                                <div class="count"></div>
                                <div class="count-bar progress-bar progress-bar-striped"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="player-states">
                    <h1 class="before">Player <b>Performance</b></h1>
                    <div class="player-performance-inner player-performance">
                        <div class="circle-proggress-items">
                            <div id="demo-pie-1" class="pie-title-center" data-percent="56"> <span class="pie-value"></span> </div>
                            <span class="progress-content"><B>Games Won</B></span>
                        </div>
                        <div class="circle-proggress-items">
                            <div id="demo-pie-2" class="pie-title-center" data-percent="64"> <span class="pie-value"></span> </div>
                            <span class="progress-content"><B>Matches Activity</B></span>
                        </div>
                        <div class="circle-proggress-items">
                            <div id="demo-pie-3" class="pie-title-center" data-percent="38"> <span class="pie-value"></span> </div>
                            <span class="progress-content"><B>Membership Value</B></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>