
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- web site title -->
    <title>EnterScoreX</title>

    <!-- favicon -->
    <link rel="icon" href="~/sport_template-master/images/favicon.png">

    <!-- style -->
    <link rel="stylesheet" href="~/sport_template-master/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> -->
    <link rel="stylesheet" href="~/sport_template-master/css/owl.carousel.css">
    <link rel="stylesheet" href="~/sport_template-master/css/bootsnav.css">
    <link rel="stylesheet" href="~/sport_template-master/fonts/montserrat-ultralight-webfont.css">
    <link rel="stylesheet" href="~/sport_template-master/css/style.css">

</head>
<body class="home2">

    <div class="wrapper">

        <!-- START COMING SOON SECTION -->
        <div class="page-area-section-error">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="error-404">

                            <img src="~/sport_template-master/images/404.png" class="img-responsive" width="1500" height="350" style="border: 0" alt="">
                            <h3>Üzgünüm, Sayfa Bulunamadı!</h3>

                        </div>
                    </div>
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div><!-- END OF /. COMING SOON SECTION -->

    </div>
    <script src="~/sport_template-master/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/sport_template-master/js/vendor/bootstrap.min.js"></script>
    <script src="~/sport_template-master/js/jquery-ui-min.js"></script>
    <script src="~/sport_template-master/js/owl.carousel.min.js"></script>
    <script src="~/sport_template-master/js/jquery.downCount.js"></script>
    <script src="~/sport_template-master/js/bootsnav.js"></script>
    <script src="~/sport_template-master/js/handleCounter.js"></script>
    <script src="~/sport_template-master/js/isotope.pkgd.min.js"></script>
    <script src="~/sport_template-master/js/jquery.prettyPhoto.js"></script>
    <script src="~/sport_template-master/js/custom.js"></script>
</body>
</html>
