@model EntityLayer.Concrete.Coach

@{
    ViewData["Title"] = "AddCoach";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Teknik Ekleme</h1>


<form method="post" enctype="multipart/form-data">

    <label>Teknik Adam Adı</label>
    <input type="text" class="form-control border" name="Name" />
    <br />
    <label>Teknik Direktorun Fotosu</label>
    <input type="file" class="form-control border" name="Photo" />
    <br />

    <input name="SavedUrl" type="hidden" class="form-control" />
    <input name="SavedFileName" type="hidden" class="form-control" />
    <button class="btn btn-outline-info">Teknik Adamı Kaydet</button>
    <a href="/Admin/Referee" class="btn btn-outline-danger">Geri Dön</a>

</form>
