@model EntityLayer.Concrete.Coach

@{
    ViewData["Title"] = "UpdateCoach";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Koç Güncelleme sayfa</h1>

<form method="post">
    <input type="hidden" name="CoachID" value="@Model.CoachID" />
    <label>Hakem Adı</label>
    <input type="text" class="form-control border" name="Name" value="@Model.Name"/>
    <br />

    <button class="btn btn-outline-info">Teknik Koçu Kaydet</button>
    <a href="/Admin/Coach" class="btn btn-outline-danger">Geri Dön</a>

</form>
