@model IEnumerable<EntityLayer.Concrete.Player>




<div class="container3">
    <br />
    @foreach (var item in Model)
    {
        <div class="kart">
            <a href="/Profiles/Index/@item.PlayerID" class="resim-kapsayici2">
                <!-- Yuvarlak resmi buraya ekleyin -->
                <img src="@item.SignedUrl" alt="Yuvarlak Resim">
            </a>
            <h1 class="takim-adi">@item.Name</h1>
            <a href="/Profiles/Index/@item.PlayerID" class="btnav btn-danger">Oyuncu Detayı</a>
        </div>
    }
</div>