@model List<EntityLayer.Concrete.Team>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">

   
    <br />
        @foreach (var item in Model)
        {
            <div class="kart">
                <div class="resim-kapsayici">
                    <img src="@item.ImageUrl" alt="Yuvarlak Resim">
                </div>
                <h1 class="takim-adi">@item.Name</h1>
            <a href="/Admin/TeamList/PlayerList/@item.TeamID" class="btnav btn-danger">Oyuncu Gir</a>
            </div>
        
        }

        
    
</div>



