
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="kart">
            <div class="resim-kapsayici">
                <!-- Yuvarlak resmi buraya ekleyin -->
                <img src="/sport_template-master/images/fixture-team1.png" alt="Yuvarlak Resim">
            </div>
            <h1 class="takim-adi">EJDERHA FC</h1>
            <button class="btnav btn-danger">Oyuncu Gir</button>
        </div>
        <div class="kart">
            <div class="resim-kapsayici">
                <!-- Yuvarlak resmi buraya ekleyin -->
                <img src="/sport_template-master/images/fixture-team1.png" alt="Yuvarlak Resim">
            </div>
            <h1 class="takim-adi">EJDERHA FC</h1>
            <button class="btnav btn-danger">Oyuncu Gir</button>
        </div>
        <div class="kart">
            <div class="resim-kapsayici">
                <!-- Yuvarlak resmi buraya ekleyin -->
                <img src="/sport_template-master/images/fixture-team1.png" alt="Yuvarlak Resim">
            </div>
            <h1 class="takim-adi">EJDERHA FC</h1>
            <button class="btnav btn-danger">Oyuncu Gir</button>
        </div>
        <div class="kart">
            <div class="resim-kapsayici">
                <!-- Yuvarlak resmi buraya ekleyin -->
                <img src="/sport_template-master/images/fixture-team1.png" alt="Yuvarlak Resim">
            </div>
            <h1 class="takim-adi">EJDERHA FC</h1>
            <button class="btnav btn-danger">Oyuncu Gir</button>
        </div>
    </div>
</div>



