@model List<EntityLayer.Concrete.Player>
@{
    ViewData["Title"] = "PlayerList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    ViewData["Title"] = "AddTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Takım Güncelleme Sayfası</h2>
@foreach (var item in Model)
{
    <div class="form-control">  @item.Name</div>
}