<div class="contact-info-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="info-items">
                    <i class="fa fa-envelope"></i>
                    <h4>Mail Adresimiz</h4>
                    <p>support@sportsox.com</p>
                    <p>admin@sportsox.com</p>
                </div>
            </div><!-- END OF /. COL -->
            <div class="col-md-4">
                <div class="info-items">
                    <i class="fa fa-phone"></i>
                    <h4>Telefon Numaramız</h4>
                    <p>+380 66 123 456 78</p>
                    <p>8 800 123 456 78</p>
                </div>
            </div><!-- END OF /. COL -->
            <div class="col-md-4">
                <div class="info-items">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <h4>Adresimiz <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></h4>
                    <p>7555 Sussex St.</p>
                    <p>New Britain, CT 06051</p>
                </div>
            </div><!-- END OF /. COL -->
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="contact-title">
                    <h3>İletişim Formunu Kullanın  <Span>& Size Yardımcı Olalım!</Span></h3>
                </div>
            </div>

            <div class="col-md-8 col-md-offset-2">
                <form action="#" class="row comment-reply contact-form">
                    <div class="col-md-6 form-group">
                        <input type="text" class="form-control" placeholder="Ad">
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="email" class="form-control" placeholder="Soyad">
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" placeholder="Konu Başlığı">
                    </div>
                    <div class="col-md-12 form-group">
                        <textarea name="yourtext" class="form-control" cols="30" rows="6" placeholder="Mesaj"></textarea>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" class="comment-submit" value="Mesajını Gönder">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>