<div class="super-cup-league-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="super-cup-title">
                            <h1><span>Super Cup League - 2019</span></h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-area">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Fixtures</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Results</a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Standings</a></li>
                                <li role="presentation"><a href="#team" aria-controls="team" role="tab" data-toggle="tab">Teams</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="fixture-title">
                                            <h1>FIXTURE</h1>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="row">
                                        <div class="white-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Teamfoot</h1>
                                                        <p>France</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>06 Aug, 2016 - 11:40</h1>
                                                    <p>France</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Legacy</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team2.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="black-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team3.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Foolianto</h1>
                                                        <p>England</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>08 Aug, 2016 - 11:40</h1>
                                                    <p>England</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Real M.</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team4.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="white-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Teamfoot</h1>
                                                        <p>France</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>06 Aug, 2016 - 11:40</h1>
                                                    <p>France</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Legacy</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team2.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="black-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team3.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Foolianto</h1>
                                                        <p>England</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>08 Aug, 2016 - 11:40</h1>
                                                    <p>England</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Real M.</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team4.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="white-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Teamfoot</h1>
                                                        <p>France</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>06 Aug, 2016 - 11:40</h1>
                                                    <p>France</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Legacy</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team2.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="black-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team3.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Foolianto</h1>
                                                        <p>England</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>08 Aug, 2016 - 11:40</h1>
                                                    <p>England</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Real M.</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team4.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="white-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Teamfoot</h1>
                                                        <p>France</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>06 Aug, 2016 - 11:40</h1>
                                                    <p>France</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Legacy</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team2.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="black-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team3.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Foolianto</h1>
                                                        <p>England</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>08 Aug, 2016 - 11:40</h1>
                                                    <p>England</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Real M.</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team4.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <div class="row">
                                        <div class="white-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Teamfoot</h1>
                                                        <p>France</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>06 Aug, 2016 - 11:40</h1>
                                                    <p>France</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Legacy</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team2.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="black-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team3.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Foolianto</h1>
                                                        <p>England</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>08 Aug, 2016 - 11:40</h1>
                                                    <p>England</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Real M.</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team4.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="white-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Teamfoot</h1>
                                                        <p>France</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>06 Aug, 2016 - 11:40</h1>
                                                    <p>France</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Legacy</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team2.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="black-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team3.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Foolianto</h1>
                                                        <p>England</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>08 Aug, 2016 - 11:40</h1>
                                                    <p>England</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Real M.</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team4.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="white-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Teamfoot</h1>
                                                        <p>France</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>06 Aug, 2016 - 11:40</h1>
                                                    <p>France</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Legacy</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team2.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="black-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team3.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Foolianto</h1>
                                                        <p>England</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>08 Aug, 2016 - 11:40</h1>
                                                    <p>England</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Real M.</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team4.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="white-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Teamfoot</h1>
                                                        <p>France</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>06 Aug, 2016 - 11:40</h1>
                                                    <p>France</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Legacy</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team2.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="black-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team3.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Foolianto</h1>
                                                        <p>England</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>08 Aug, 2016 - 11:40</h1>
                                                    <p>England</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Real M.</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team4.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="white-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Teamfoot</h1>
                                                        <p>France</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>06 Aug, 2016 - 11:40</h1>
                                                    <p>France</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Legacy</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team2.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="black-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team3.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Foolianto</h1>
                                                        <p>England</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>08 Aug, 2016 - 11:40</h1>
                                                    <p>England</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Real M.</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team4.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="messages">
                                    <div class="row">
                                        <div class="white-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Teamfoot</h1>
                                                        <p>France</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>06 Aug, 2016 - 11:40</h1>
                                                    <p>France</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Legacy</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team2.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="black-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Foolianto</h1>
                                                        <p>England</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>08 Aug, 2016 - 11:40</h1>
                                                    <p>England</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Real M.</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team4.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="white-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Teamfoot</h1>
                                                        <p>France</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>06 Aug, 2016 - 11:40</h1>
                                                    <p>France</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Legacy</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team2.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="black-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Foolianto</h1>
                                                        <p>England</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>08 Aug, 2016 - 11:40</h1>
                                                    <p>England</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Real M.</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team4.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="team">
                                    <div class="row">
                                        <div class="white-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Teamfoot</h1>
                                                        <p>France</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>06 Aug, 2016 - 11:40</h1>
                                                    <p>France</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Legacy</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team2.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="black-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Foolianto</h1>
                                                        <p>England</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>08 Aug, 2016 - 11:40</h1>
                                                    <p>England</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Real M.</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team4.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="white-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Teamfoot</h1>
                                                        <p>France</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>06 Aug, 2016 - 11:40</h1>
                                                    <p>France</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Legacy</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team2.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="black-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Foolianto</h1>
                                                        <p>England</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>08 Aug, 2016 - 11:40</h1>
                                                    <p>England</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Real M.</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team4.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="white-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Teamfoot</h1>
                                                        <p>France</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>06 Aug, 2016 - 11:40</h1>
                                                    <p>France</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Legacy</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team2.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="black-match">
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-left">
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team1.png" width="80" height="77" alt=""></a>
                                                    </div>
                                                    <div class="fixture-team-name fixture-team-left">
                                                        <h1>Foolianto</h1>
                                                        <p>England</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="fixture-team-date">
                                                    <h1>08 Aug, 2016 - 11:40</h1>
                                                    <p>England</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <div class="match-right">
                                                    <div class="fixture-team-name fixture-team-right text-right">
                                                        <h1>Real M.</h1>
                                                        <p>Spain</p>
                                                    </div>
                                                    <div class="fixture-team-img">
                                                        <a href="#"><img class="img-responsive" src="~/sport_template-master/images/fixture-team4.png" width="64" height="84" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
